.inputStyle {
  padding: 10px 12px;
  border: 1px solid #020410;
  border-radius: 19px;
  opacity: 0.5;
  width: 388px;
  height: 38px;
  padding-left: 30px;

  input {
    position: absolute;
    
  }
}

.searchIcon {
  position: relative;
  width: 20px;
  left: 50px;
}
